<html>
  <head>
    <style>
     body {
      text-align: center;
      
     }
     table{
        border:1px solid black;
        margin-left:auto;
        margin-right:auto;
     } 
     th, td{
        border: 1px solid black;
     }
 
    </style>
  </head>
  <body>
    
    

    <div>
      {% if user.is_authenticated %}
          <h1>Page personnelle de  {{user.username}}</h1>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout" />
          </form>
          <h2>Vous possedez les outils suivants:</h2>
          <table>
            <thead>
                <tr>
                  <th>Id</th>
                  <th>Desciption</th>
                  <th>Prix</th>
                </tr>
              </thead>
            {% for tool in user.tool_set.all %}
              <tr>
                <td>{{tool.id}}</td> <td>{{tool}}</td> <td>{{tool.price}}</td> 
              </tr>
            {% endfor %}
            </table>
    
      {% else %}
          <h1>Hello, guest!</h1>
          <a href="{% url 'login' %}">Login</a>
      {% endif %}
  </div>
  
  </body>
</html>